<body style="background-color:grey;">
	<h1>Neebal Tech</h1>

<h1>Hello<h1>

<h3>Feature1 Added by Ram</h3>
<a href=#>Home</a>

<input type="button" value="log out"</input>
<input type = "text" placeholder = "Search Place?">
<h3>Feature2 added by Ankita</h3>
</body>
